@charset "utf-8";

.aside_title{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;

  width:240px;
  height:64px;
  position:fixed;
  z-index:9998;
  top:0;
  right:0;
  margin:20px;
  margin-top:120px;
  border:#dddddd solid 1px;
  background-color:#ffffff;
  color:#133337;
}

.aside_menu{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-direction:column;

  overflow-y:scroll;

  width:200px;
  height:448px;
  position:fixed;
  z-index:9998;
  top:0;
  right:0;
  margin:20px;
  margin-top:184px;
  border:#dddddd solid 1px;
  background-color:#ffffff;
}

.aside_menu li{
  margin:2px;
}

.aside_menu a{
  text-decoration:none;
  color:#133337;
}
